<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= coffeeshop.name %></title>
  </head>

  <body>
    <h1><%= coffeeshop.name %></h1>
    <h2><%= coffeeshop.location %></h2>
    <p><%= coffeeshop.description %></p>
    <a href="/coffeeshops/<%=coffeeshop._id%>/edit">Edit</a>
    <form
      action="/coffeeshops/<%=coffeeshop._id%>?_method=DELETE"
      method="POST"
    >
      <a href="/coffeeshops">Back to Index</a>
      <button>DELETE</button>
    </form>
  </body>
</html>
